@import '../_shared/_variables.scss';

.header {
  width: 100%;
  height: $header-height;
  background-color: #68BCCA;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkContainer {
  margin-left: 100px; // Will have to adjust css
  position: absolute;
  right: 100px;
}

.link {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}