@import '@/app/components/_shared/_variables.scss';

.header {
  width: 100%;
  height: $header-height;
  background-color: #68BCCA;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.link {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
}

.logo {
  width: auto;
  height: $header-height - 10px;
}
