@import '@/app/components/_shared/_variables.scss';

.recorder {
  @include centerItems();
}

.recorderButton {
  padding: 20px;
  border: none;        
  background-color: transparent; 
  outline: none;          
  cursor: pointer; 

}
