
.section {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 5px;
  padding: 10px 10px;
  box-sizing: border-box;
}

.noteList {
  display: flex;
  width: 100%;
  gap: 12px;
  flex-direction: column;

  .note {
    font-size: 14px;
    height: 50px;
    border-radius: 15px;
    padding: 0 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    text-transform: none;
    text-align: left;
    justify-content: left;

    p {
      overflow: clip;
    }

    &.selected {
      border: 1px solid #68BCCA;
      border-right-width: 5px;
    }
  }

  .reportList {
    display: flex;
    width: 100%;

    flex-direction: column;
  }
}

.noteTreeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;

  .searchContainer {
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex: 1;
    padding: 5px 5px;
  }

  .searchIcon {
    color: #4d99a8;
  }

  .inputInput {
    padding: 5px 5px 5px 0;
    width: 100%;
  }

  .closeButton {
    padding: 5px;
    color: #4d99a8;
  }
}

