.noteList {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  gap: 5px;
  padding: 10px 10px;

  .note {
    font-size: 14px;
    height: 50px;
    border-radius: 15px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);

    &.selected {
      border: 1px solid #68BCCA;
      border-right-width: 5px;
    }
  }
}
