@import '@/app/components/_shared/_variables.scss';

.playback {
  @include centerItems();
}

.playbackButton {
  padding: 20px;
  border: none;          
  background-color: transparent; 
  outline: none;          
  cursor: pointer;
}

