.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; // fill the entire viewport height
}

.contentArea {
  display: flex;
  flex-grow: 1; // take up any remaining space after other elements
}
