@import '../_shared/_variables.scss';

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure a minimum height of 100vh for the layout container */
}

.contentArea {
  display: flex;
  flex-grow: 1; /* Take up any remaining space after other elements */
}

/* noteDashboard.module.scss */
.container {
  height: calc(100vh - $header-height);
  overflow: hidden;
}

.mainArea {
  width: 100%;
}

.noteWrapper {
  height: 100%; /* Ensure that it takes the full height of its parent */
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ensure items stretch to the full width */
}

.scrollView {
  width: 100%;
  height: 100%; /* This ensures that it takes the full height of its parent */
  overflow-y: auto; /* Vertical scrolling */
  overflow-x: hidden; /* No horizontal scrolling */
  white-space: nowrap;
}
