ul.customUl {
  list-style-type: none;
}

.selectedItem {
  /* Add your selected item styling here */
  background-color: #333; /* For example, change background color to dark gray */
  color: #fff; /* Change text color to white */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: background-color 0.3s ease; /* Add a smooth transition for background color */
}

ul.customUl li {
  color: white;
  margin: 30px 0;
  padding: 5px;
  transition: background-color 0.3s ease; /* Add a smooth transition for background color */
}

ul.customUl li:hover {
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #333; /* Change the background color on hover */
}


.container {
  background-color: #1f1e1e;
  width: 250px;
  height: 100vh;
  padding: 50px 0;
}

.nonClickableLI li:hover {
  cursor: default; /* Set the default cursor */
  transition: none; /* Remove any transition */
  color: red;
}