// Header
$header-height: 100px;

// Shared Colors
$Button-text: #f5f5f5;

// Idle button colors
$Button-light: #54a88d;
$Button-light-hover: #346958;
$Button-dark: #1f3d34;
$Button-dark-hover: #326052;

// Active button colors
$Button-active-light: #e35656;
$Button-active-light-hover: #863434;
$Button-active-dark: #7e2e2e;
$Button-active-dark-hover: #b24141;

// Common card styles
$card-padding: 10px;
$card-bg: #444;
$card-border-radius: 5px;
$card-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
$card-color: #fff;

// Common spacing
$spacing-base: 1rem;

@mixin hoverEffect($color) {
  &:hover {
    background-color: $color;
  }
}

@mixin lightMode($color1, $color2, $textColor) {
  background-color: $color1;
  color: $textColor;
  @include hoverEffect($color2)
}

@mixin darkMode($color1, $color2, $textColor) {
  background-color: $color1;
  color: $textColor;
  @include hoverEffect($color2)
}

@mixin centerItems() {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@mixin circleButton($size, $color1, $color2) {
  width: $size;
  height: $size;
  border: none;
  border-radius: 50%;
  background-color: $color1;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  @include hoverEffect($color2);
}

@mixin cardStyles() {
  padding: $card-padding;
  background-color: $card-bg;
  color: $card-color;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
}

@mixin verticalSpacing($amount) {
  margin-bottom: $amount;
}
