@import '@/app/components/_shared/variables';

.container {
  height: calc(100vh - $header-height);
  position: relative;
  display: flex;
  width: 100%;


}

.noteWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

