@import '@/app/components/_shared/variables';

.container {
  height: calc(100vh - $header-height);
  position: relative;
  display: flex;
  width: 100%;


}

.noteWrapper {
  width: 100%;
  z-index: 1;
  padding-bottom: 200px;
}

