.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  p {
    margin: 0px;
  }
}

.registerContainer {
  display: flex;
  gap: 30px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  padding: 50px;
  text-align: center;

  a {
    color: #68BBCA !important;
  }

  .button {
    margin-bottom: 10px;
  }

  form {
    margin-top: 10px;
  }

  form > div {
    margin-bottom: 10px; 
  }

  form > div:last-child {
    margin-bottom: 0;
  }

  label {
    font-size: .8rem;
  }

  button, .input, Button, InputField {
    width: 400px;
  }

}

.registerForm {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.registerForm input {
  font-size: 14px;
}