.project {
  display: inline-block;
  width: 250px; // Adjust as needed
  margin-right: 20px;
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.projectName {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.notesContainer {
  display: flex;
  flex-direction: column;
}
