@import '../_shared/_variables.scss';

.project {
  @include cardStyles();
  display: inline-block;
  width: 250px;
  margin-right: $spacing-base;
}

.projectName {
  font-size: 1.2rem;
  @include verticalSpacing($spacing-base);
}

.notesContainer {
  display: flex;
  flex-direction: column;
}
