.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px; // or your desired width
  gap: 30px;
}

.loginForm h2 {
  font-size: 2rem;
}

.loginForm label {
  font-size: .8rem;
  margin-bottom: 5px;
  padding-left: 20px;
}


