/* Import the Nunito font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

/* Set the font-family rule to use Nunito as the default font */
body {
  font-family: "Nunito", sans-serif;
}

/* Reset default browser styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; // prevent scrollbars from appearing
}

/* Add box-sizing to all elements */
* {
  box-sizing: border-box;
}

/* Add a global container class */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}
